html,
body {
  background-color: #202020;
  height: 100%;
}

.form-signin {
  align-items: center;
  left: 50%;
  max-width: 330px;
  padding: 15px;
  position: absolute;
  top: 25%;
  transform: translate(-50%, -50%);
}

.form-signin div {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.hidden {
  display: none;
}
