<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Bulb Control</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Sans">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/static/sign-in.css" rel="stylesheet">
  </head>
  <body class="text-center">

    <div class="alert alert-success hidden" role="alert"></div>
    <div class="alert alert-danger hidden" role="alert"></div>

<main class="form-signin w-100 m-auto">
  <div class="form-floating">
    <button type="button" id="day" class="btn btn-lg btn-primary">Day</button>
    <button type="button" id="dusk" class="btn btn-lg btn-primary">Dusk</button>
  </div>

  <div class="form-floating">
    <button type="button" id="evening" class="btn btn-lg btn-primary">Evening</button>
    <button type="button" id="night" class="btn btn-lg btn-primary">Night</button>
  </div>

  <div class="form-floating">
    <button type="button" id="tv" class="btn btn-lg btn-primary">TV</button>
    <button type="button" id="bed" class="btn btn-lg btn-primary">Bed</button>
  </div>
</div>

  <script src="/static/bulbs.js"></script>

  </body>
</html>
